.header {
  width: 100%;
  height: 60px;
  background: #f3f3f3;
  ;
}

.nav {
  height: 60px;
}

.registration-button img {
  width: 50px;
  height: 50px;
  float: right;
}

.topImages {
  float: right;
  margin: 12px 27px 1px 1px;
}

.profile {
  float: right;
  margin: -49px 27px 1px 1px;
}

.topImages img, .profile img {
  width: 50px;
  height: 43px;
}

.logo img, .search img {
  float: left;
  width: 53px;
  height: 53px;
  margin: 4px 10px 10px 30px;
}

input[type=search] {
  background: #f3f3f3 url(./../../assets/images/search.png) no-repeat 9px center;
  background-size: 50px 45px;
  border: solid 6px #f3f3f3;
  padding: 23px 10px 8px 70px;
  width: 120px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

input[type=search]:focus {
  width: 100%;
  border: 4px solid #a09999;
  background-color: #ffffff;
  outline: none;
  cursor: text;
  font-size: 18px;
}
