.content {
  flex: 1;
  white-space: pre-line;
  -ms-flex-preferred-size: auto;
}

.forma {
  display: flex;
  background: url(./../../assets/images/bg-section-welcome.jpg) repeat;
  height: 700px;
  background-size: cover;
}
