.username {
  width: 90%;
  height: 400px;
  background: #fff;
  margin: 57px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.username img {
  display: block;
  margin: 2px auto;
  padding: 22px;
  height: 300px;
}

.back img {
  width: 25px;
  height: 25px;
  margin: -7px 95px;
}

.panel-navigation {
  height: 30px;
  background: #b0bec5;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.content {
  flex: 1;
  white-space: pre-line;
  -ms-flex-preferred-size: auto;
  background: url(./../../assets/images/bg.png) repeat;
}

a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(214, 52, 52);
  box-shadow: 0 -3px rgb(4, 1, 58) inset;
  transition: 0.2s;
}

a.button7:hover {
  background: rgb(210, 7, 7);
}

a.button7:active {
  background: rgb(214, 52, 52);
  box-shadow: 0 3px rgb(4, 1, 58) inset;
}

.delete-profile {
  text-align: center;
  padding: 45px;
  margin-top: 75px;
}
